# This is an example of a comment,
# whereas blank lines are ignored.
*.o
*.exe
*.swp
#*.compile
*.dat
*.out
bin/enzo
method-paper-joss-2019
src/enzo/auto_show_version.C
src/enzo/out.compile
src/enzo/temp.show-version
src/enzo/DEPEND
src/enzo/DEPEND.bak
src/enzo/auto_show_flags.C
src/enzo/out.make.DEPEND
src/enzo/temp.show-flags
